<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/tengwar-feanor" rel="stylesheet">
    <title>{{site.title}}{% if title %} - {{title}} {% endif %}</title>
    <meta name="description" content="
      {% if description %}
        {{description}}
      {% else %}
        {{site.description}}
      {% endif %}
    "/>
    {% favicons 'src/assets/favicon.svg' %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}">
    <script>document.documentElement.classList.add('js')</script>
  </head>
  <body>
    {% if not hideNav %}
      {% include "partials/_navigation.njk" %} 
    {% endif %}
    <main>
    {{content | safe}}
    </main>
    {% if not hideNav %}
      {% include "partials/_footer.njk" %}
    {% endif %}
    <script src="{{ '/scripts/navToggle.js' | url }}" defer></script>
  </body>
</html>