---
layout: base
---

<div class="gallery-wrapper">
    {{ content | safe }}
</div>
<button class="back-to-top" id="backToTopBtn" aria-label="Back to top">^</button>
<script src="/scripts/backToTop.js" defer></script>