---
layout: galleryLayout
title: "6x17"
permalink: "/617/"
tags: page
eleventyNavigation:
  key: 6x17
  order: 3
---

<div class="gallery-header">
    <p>Sometimes, I shoot panos. They don't fit in the regular gallery grid, hence the separate page.</p>
</div>
<div class="gallery-container">
    {# <h1>Gallery</h1> #}
    <div class="masonry-grid masonry-pano" id="gallery">
        {% for image in gallery.pano.images %}
            {% set imagePath = "src/assets/images/617/" + image %}
            {% set imageAlt = image | replace(r/\.(jpg|jpeg|png|gif|webp)$/, "") %}     

            <figure class="masonry-item">
                <button class="lightbox-trigger" data-full="{% getOptimizedUrl imagePath %}">
                    {% optimizedImage 
                        imagePath, 
                        imageAlt, 
                        "(max-width: 480px) 100vw, (max-width: 768px) 50vw" %}
                </button>
            </figure>
        {% endfor %}
    </div>
</div>

<div class="lightbox", id="lightbox" aria-hidden="true">
    <button class="lightbox-close" alias-label="Close image">&times;</button>
    <button class="lightbox-prev" alias-label="Previous image">&#10094;</button>
    <img class="lightbox-image" alt=""/>
    <button class="lightbox-next" alias-label="Next image">&#10095;</button>
    
</div>

<script src="/scripts/resizeGalleryItems.js"></script>
<script src="/scripts/lightbox.js" defer></script>