---
layout: base
title: "about"
tags: page
permalink: /about/
html: true
eleventyNavigation:
    key: about
    order: 99
---

<div class="about-wrapper">
    <div class="about-content">
        <p class="dropcap">Hello, I'm David. I like to take photographs in my free time. I try to spend as much time outside as possible, hence its mostly landscape photographs. 
            The photographs on this site were taken with a variety of cameras. Most of them analog. </p>
        <p>Most of my photographs are taken around Switzerland. A few are from Scandinavia or further away (From me at least :P). 
            In my day job, I work as a DevOps Engineer in Switzerland. This site serves two purposes. Firstly, it is meant as a replacement for my old Instagram account, which I do not maintain anymore.
            I have better ways to spend my time, than doomscrolling through that misbegotten app. The second use, is as a sort of photographic diary for myself to have my favorite shots in one place.
            There are dedicated tools for this, but I don't care.</p>
            
            
        <p>Currently, I use the following kit:</p>

        <ul>
        <li>Chamonix F2 4x5 with the following lenses:</li>
        <ul>
            <li>Fujinon 90mm </li>
            <li> Nikkor 180mm </li> 
            <li>Nikkor 360mm</li>
        </ul>
        <li>Bronica SQ</li>
        <li>Olympus XA</li>
        <li>Fujifilm X100F</li>
        </ul>

        <p>A few books I like for various reasons, in no particular order:</p>

        <ul>
        <li>The Lord of the Rings, J.R.R. Tolkien</li>
        <li>Wie der Berg zu seinem Namen kam, Andrea Schorta</li>
        <li>Dune, Frank Herbert</li>
        <li>The Complete Robot, Isaac Asimov</li>
        <li>Die Zürcher Bibel</li>
        <li>The Wheel of Time Series, Robert Jordan</li>
        <li>Utvandrarna, Vilhelm Moberg</li>
        </ul>

        {# <div class="about-copyright">
            <p>All photographs on this site are taken by me and are protected by copyright. If you want to use any of the images, please contact me.</p>
        </div> #}
    </div>
    {# <img src="/assets/images/moi.jpg" alt="myself" class="about-image"> #}
    {% optimizedImage "src/assets/images/moi.jpg", "myself" , "(max-width: 480px) 100vw, (max-width: 768px) 50vw, 33vw"%}
</div>
<div class="about-camera-images">

    {% for image in gallery.camera.images %}
        {% set imagePath = "src/assets/images/camera/" + image %}
        {% set imageAlt = image | replace(r/\.(jpg|jpeg|png|gif|webp)$/, "") %}
        {% optimizedImage
            imagePath,
            imageAlt, 
            "(max-width: 480px) 100vw, (max-width: 768px) 50vw, 33vw"
        %}
    {% endfor%}
    {# <img src="/assets/images/camera/moi-2.jpg" alt="">
    <img src="/assets/images/camera/chamonix-1.jpg" alt="Chamonix F2 4x5">
    <img src="/assets/images/camera/chamonix-2.jpg" alt="Chamonix F2 4x5"> #}
</div>
