---
layout: galleryLayout
title: "gallery"
permalink: "/gallery/"
tags: page
eleventyNavigation:
  key: gallery
  order: 2
---

<div class="gallery-container">
    {# <h1>Gallery</h1> #}
    <div class="masonry-grid" id="gallery">
        {% for image in gallery.images | reverse %}
            <figure class="masonry-item">
                <button class="lightbox-trigger" data-full="/assets/images/gallery/{{ image }}">
                    <img src="/assets/images/gallery/{{ image }}"
                        alt="{{ image | replace('.jpg', '') | replace('.jpeg', '') | replace('.png', '') | replace('.gif', '') | replace('.webp', '') }}" 
                        loading="lazy" />
                </button>
            </figure>
        {% endfor %}
    </div>
</div>

<div class="lightbox", id="lightbox" aria-hidden="true">
    <button class="lightbox-close" alias-label="Close image">&times;</button>
    <button class="lightbox-prev" alias-label="Previous image">&#10094;</button>
    <img class="lightbox-image" alt=""/>
    <button class="lightbox-next" alias-label="Next image">&#10095;</button>
    
</div>

<script src="/scripts/resizeGalleryItems.js"></script>
<script src="/scripts/lightbox.js" defer></script>