---
layout: galleryLayout
title: "gallery"
permalink: "/gallery/"
tags: page
eleventyNavigation:
  key: gallery
  order: 2
---

<div class="gallery-container">
    {# <h1>Gallery</h1> #}
    <div class="masonry-grid" id="gallery">
        {% for image in gallery.images %}
            <figure class="masonry-item">
                <img src="/assets/images/gallery/{{ image }}"
                    alt="{{ image | replace('.jpg', '') | replace('.jpeg', '') | replace('.png', '') | replace('.gif', '') | replace('.webp', '') }}" 
                    loading="lazy" />
            </figure>
        {% endfor %}
    </div>
</div>

<script src="/scripts/resizeGalleryItems.js"></script>