---
layout: base
title: home
tags: page 
eleventyNavigation:
  key: home
  order: 1
hideNav: true
---


{# TODO: Replace #}
<section class="hero">
  <h1 class="hero-title">David's photos</h1>
  {% heroImage 'hero-image-1', 'hero-image' %}
  <a href="/landscapes/" class="hero-button" title="View them :)">luegs der ah ..></a>
</section>