---
layout: base
title: home
tags: page 
eleventyNavigation:
  key: home
  order: 1
hideNav: true
---

<section class="hero">
  <h1 class="hero-title">David's photos</h1>
  {% heroImage "src/assets/images/piz-lunghin-1.jpg", "View from Piz Lunghin over Lake Sils and the upper Engadin valley." %}
  {# <img src="/assets/images/piz-lunghin-1.jpg" alt=""> #}
  <a href="/landscapes/" class="hero-button" title="View them :)">luegs der ah ..></a>
</section>