---
layout: galleryLayout
title: "landscapes"
permalink: "/landscapes/"
tags: page
eleventyNavigation:
  key: landscapes
  order: 2
---

<div class="gallery-header">
    <p>In no particular order.</p>
</div>
<div class="gallery-container">
    <div class="masonry-grid" id="gallery">
        {% for image in gallery.landscape.images | reverse %}
            {% set imagePath = "src/assets/images/landscapes/" + image %}
            {% set imageAlt = image | replace(r/\.(jpg|jpeg|webp|avif)$/, "") %}
            {% set masonryImageWidths = [400, 800, 1200] %}
            {% set masonrySize = "(max-width: 480px) 100vw, (max-width: 768px) 50vw, 33vw" %}
            {% set lightboxImageWidths = [1600] %}

            <figure class="masonry-item">
                <button class="lightbox-trigger" data-full="{% getOptimizedUrl imagePath, lightboxImageWidths %}">
                    {% optimizedImage 
                        imagePath, 
                        imageAlt, 
                        masonrySize, 
                        masonryImageWidths %}
                </button>
            </figure>
        {% endfor %}
    </div>
</div>

<div class="lightbox", id="lightbox" aria-hidden="true">
    <button class="lightbox-close" alias-label="Close image">&times;</button>
    <button class="lightbox-prev" alias-label="Previous image">&#10094;</button>
    <img class="lightbox-image" alt=""/>
    <button class="lightbox-next" alias-label="Next image">&#10095;</button>
    
</div>

<script src="/scripts/resizeGalleryItems.js"></script>
<script src="/scripts/lightbox.js" defer></script>