---
layout: galleryLayout
title: "landscapes"
permalink: "/landscapes/"
tags: page
eleventyNavigation:
  key: landscapes
  order: 2
---

<div class="gallery-header">
    <p>I shoot mostly landscapes.</p>
</div>
<div class="gallery-container">
    {# <h1>Gallery</h1> #}
    <div class="masonry-grid" id="gallery">
        {% for image in gallery.landscape.images | reverse %}
            {% set imagePath = "src/assets/images/landscapes/" + image %}
            {% set imageAlt = image | replace(r/\.(jpg|jpeg|png|gif|webp)$/, "") %}

            <figure class="masonry-item">
                {# <button class="lightbox-trigger" data-full="/assets/images/landscapes/{{ image }}"> #}
                <button class="lightbox-trigger" data-full="{% getOptimizedUrl imagePath %}">
                    {# <img src="/assets/images/landscapes/{{ image }}"
                        alt="{{ image | replace('.jpg', '') | replace('.jpeg', '') | replace('.png', '') | replace('.gif', '') | replace('.webp', '') }}" 
                        loading="lazy" /> #}
                    {% optimizedImage 
                        imagePath, 
                        imageAlt, 
                        "(max-width: 480px) 100vw, (max-width: 768px) 50vw, 33vw" %}
                </button>
            </figure>
        {% endfor %}
    </div>
</div>

<div class="lightbox", id="lightbox" aria-hidden="true">
    <button class="lightbox-close" alias-label="Close image">&times;</button>
    <button class="lightbox-prev" alias-label="Previous image">&#10094;</button>
    <img class="lightbox-image" alt=""/>
    <button class="lightbox-next" alias-label="Next image">&#10095;</button>
    
</div>

<script src="/scripts/resizeGalleryItems.js"></script>
<script src="/scripts/lightbox.js" defer></script>