---
layout: galleryLayout
title: "landscapes"
permalink: "/landscapes/"
tags: page
eleventyNavigation:
  key: landscapes
  order: 2
---

{# TODO: Create combined template with pano #}
<div class="gallery-header">
    <p>In no particular order.</p>
</div>
<div class="gallery-container">
    <div class="masonry-grid" id="gallery">
        {% for image in gallery.landscape.images | reverse %}
            <figure class="masonry-item">
                <button class="lightbox-trigger" data-full="{% getLightboxImage  image, 'landscape' %}">
                    {% galleryImage image, 'landscape' %}
                </button>
            </figure>
        {% endfor %}
    </div>
</div>

<div class="lightbox", id="lightbox" aria-hidden="true">
    <button class="lightbox-close" alias-label="Close image">&times;</button>
    <button class="lightbox-prev" alias-label="Previous image">&#10094;</button>
    <img class="lightbox-image" alt=""/>
    <button class="lightbox-next" alias-label="Next image">&#10095;</button>
    
</div>

<script src="/scripts/lightbox.js" defer></script>