<footer>
    <div class="footer-content">
        <div class="footer-copyright">
            {# 🇨🇭/&#127480&#127466 #}
            <p>&copy; 2026 David Lennström. All rights reserved. </p>
        </div>
        <div class="footer-bar">
            <p>|</p>
        </div>
        <div class="footer-socials">
            <a href="https://github.com/dlennstroem/site" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a href="https://www.linkedin.com/in/david-lennstr%C3%B6m-8b8ab9170/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            {# <a href="mailto:david@lennstrom.com">Email</a> #}
            
        </div>
        <div class="footer-bar">
            <p>|</p>
        </div>
        {# Spam protection: #}
        <div class="footer-email">hi[at]<span>dalen[dot]</span><span>f-off.</span>ch</div>
        {# <div class="footer-email">
            <p>Contact: david [at] lennstrom [dot] ch</p>
        </div> #}
    </div>
    <div class="footer-bottom">
        <p class="tengwar">Tenna' ento lye omenta</p> {# "Until the next time we meet" in Tengwar #}
    </div>
</footer>