<footer>
    <div class="footer-content">
        <div class="footer-copyright">
            <p>&copy; 2026 David Lennström 🇨🇭/&#127480&#127466</p>
        </div>
        <div class="footer-bar">
            <p>|</p>
        </div>
        <div class="footer-socials">
            <a href="https://github.com/dlennstroem/site" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a href="https://www.linkedin.com/in/david-lennstr%C3%B6m-8b8ab9170/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            {# Mail: #}
            <a href="mailto:david@lennstrom.com">Email</a>
        </div>
    </div>
</footer>